
p {
    text-align: justify;
    font-size: 25px;
}

h1 {
    font-size: 40px;
}

#imagem1 {
    width: 100%;
}

#imagem2 {
    width: 100%;
}

#imagem3 {
    width: 50%;
}

#imagem4 {
    width: 50%;
}

#imagem5 {
    width: 50%;
}